window {
    margin: 0;
    border: 1px solid #3e3d32;
    border-radius: 8px;
    background-color: #272822;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
}

#input {
    margin: 8px;
    border: 1px solid #3e3d32;
    border-radius: 4px;
    background-color: #3e3d32;
    color: #f8f8f2;
    padding: 8px 12px;
    outline: none;
}

#input:focus {
    border-color: #66d9ef;
}

#inner-box,
#outer-box,
#scroll {
    margin: 4px;
    background-color: transparent;
}

#text {
    margin: 2px 8px;
    color: #75715e;
}

#entry {
    border-radius: 4px;
    padding: 2px;
}

#entry:selected {
    background-color: #3e3d32;
}

#entry:selected #text {
    color: #f8f8f2;
}
