# Termux app settings. Rendered by components/termux.
extra-keys = [['ESC','TAB','CTRL','ALT','-','/','|','UP','HOME','END'], \
              ['~','`',':','=','LEFT','DOWN','RIGHT','PGUP','PGDN','KEYBOARD']]
bell-character = ignore
terminal-cursor-blink-rate = 0
